{% extends '@FMDDSyliusEmailOrderAdminPlugin/Email/layout_email.html.twig' %}

{% block subject %}
    {% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
    {{ 'sylius.ui.new_order'|trans ~' ' }} {{ money.format(order.total, order.currencyCode) }} - {{ order.channel.name|upper }}
{% endblock %}

{% block body_email %}
    {% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
    {% set firstName = order.customer.firstName is not empty ? order.customer.firstName : order.shippingAddress.firstName %}
    {% set lastName = order.customer.lastName is not empty ? order.customer.lastName : order.shippingAddress.lastName %}
    {% set phoneNumber = order.customer.phoneNumber is not empty ? order.customer.phoneNumber : order.shippingAddress is not null ? order.shippingAddress.phoneNumber : ' ' %}

    <h2>{{ 'sylius.ui.details'|trans ~' '~'sylius.ui.order'|trans }} : #{{ order.number }}</h2>
    <ul>
        <li>{{ 'sylius.ui.name'|trans }}: {{ firstname }} {{ lastname|upper }}</li>
        <li>{{ 'sylius.ui.email'|trans }}: {{ order.customer.email }}</li>
        <li>{{ 'sylius.ui.phone_number'|trans }}: {{ phoneNumber }}</li>
        {% if order.payments is not empty %}
            <li>{{ 'sylius.ui.payment_method'|trans }} : {{ order.payments.last.name }}</li>
        {% endif %}
        {% if order.shipments is not empty %}
            <li>{{ 'sylius.ui.shipping_method'|trans }} : {{ order.shipments.last.name }}</li>
        {% endif %}
    </ul>

    <table border="1">
        <thead>
        <tr>
            <td style="padding: 5px; font-weight: bold; width:250px">{{ 'sylius.ui.shipping_address'|trans }}</td>
            <td style="padding: 5px; font-weight: bold; width:250px">{{ 'sylius.ui.billing_address'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="padding: 5px;">
                <div>{{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}
                    ({{ order.shippingAddress.company }})
                </div>
                <div>{{ order.shippingAddress.phoneNumber }}</div>
                <div>{{ order.shippingAddress.street }}
                    , {{ order.shippingAddress.city }} {{ order.shippingAddress.postcode }}
                    , {{ order.shippingAddress.countryCode|sylius_country_name|upper }} </div>
            </td>
            <td style="padding: 5px;">
                <div>{{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}
                    ({{ order.billingAddress.company }})
                </div>
                <div>{{ order.billingAddress.phoneNumber }}</div>
                <div>{{ order.billingAddress.street }}
                    , {{ order.billingAddress.city }} {{ order.billingAddress.postcode }}
                    , {{ order.billingAddress.countryCode|sylius_country_name|upper }}</div>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Notes :</h2>
    <p>{{ order.notes }}</p>

    <h2>{{ 'sylius.ui.products'|trans }}</h2>

    <table border="1">
        <thead>
        <tr>
            <td style="padding: 5px; font-weight: bold; width:250px">{{ 'sylius.ui.code'|trans }}</td>
            <td style="padding: 5px; font-weight: bold; width:50px">{{ 'sylius.ui.qty'|trans }}</td>
            <td style="padding: 5px; font-weight: bold; width:50px">{{ 'sylius.ui.unit_price'|trans }} {{ 'fmdd_email_order_admin.email.articles.tax.exclude'|trans }}</td>
            <td style="padding: 5px; font-weight: bold; width:50px">{{ 'sylius.ui.subtotal'|trans }} {{ 'fmdd_email_order_admin.email.articles.tax.include'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            <tr>
                {% if item.variant.product.simple %}
                    <td style="padding: 5px;">{{ item.variant.product.code }} - {{ item.variant.product.name }}</td>
                {% else %}
                    <td style="padding: 5px;">
                        {{ item.variant.code }} - {{ item.variant.name }}
                        <br>
                        {% for value in item.variant.optionValues %}
                            {% if not loop.first %} | {% endif %}<u>{{ value.name }} :</u> <b>{{ value.value }}</b>
                        {% endfor %}
                    </td>
                {% endif %}
                <td style="padding: 5px;">{{ item.quantity }}</td>
                <td style="padding: 5px;">{{ item.unitPrice|sylius_format_money(order.currencyCode, order.localeCode) }}</td>
                <td style="padding: 5px;">{{ item.total|sylius_format_money(order.currencyCode, order.localeCode) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set itemsSubtotal = sylius_order_items_subtotal(order) %}
    {% set taxIncluded = sylius_order_tax_included(order) %}
    {% set taxExcluded = sylius_order_tax_excluded(order) %}
    <div class="shopping-cart-total">
        <h2>{{ 'sylius.ui.summary'|trans }}</h2>
        <div class="shop-table table-responsive">
            <table>
                <tbody>
                <tr class="cart-subtotal">
                    <td>{{ 'sylius.ui.subtotal'|trans }} {{ 'fmdd_email_order_admin.email.articles.tax.exclude'|trans }}</td>
                    <td>{{ money.convertAndFormat(itemsSubtotal) }}</td>
                </tr>
                {% if taxExcluded %}
                    <tr class="cart-tax">
                        <td>{{ 'sylius.ui.tax'|trans }}</td>
                        <td>{{ money.convertAndFormat(taxExcluded) }}</td>
                    </tr>
                {% endif %}
                {% if taxIncluded %}
                    <tr class="cart-tax">
                        <td>{{ 'sylius.ui.tax'|trans }} {{ 'sylius.ui.included_in_price'|trans }}</td>
                        <td>{{ money.convertAndFormat(taxIncluded) }}</td>
                    </tr>
                {% endif %}

                <tr class="shipping">
                    <td>{{ 'sylius.ui.shipping_estimated_cost'|trans }}</td>
                    {% if order.shipments is not empty %}
                        <td>{{ money.convertAndFormat(order.shippingTotal) }}</td>
                    {% else %}
                        <td>No Set</td>
                    {% endif %}
                </tr>

                {% if order.orderPromotionTotal %}
                    <tr class="shipping">
                        <td>{{ 'sylius.ui.discount'|trans }}</td>
                        <td>{{ money.convertAndFormat(order.orderPromotionTotal) }}</td>
                    </tr>
                {% endif %}

                <tr class="order-total">
                    <td>{{ 'sylius.ui.order_total'|trans }}</td>
                    <td><strong>{{ money.convertAndFormat(order.total) }} {{ 'fmdd_email_order_admin.email.articles.tax.include'|trans }}</strong></td>
                </tr>
                {% if order.currencyCode is not same as(sylius.currencyCode) %}
                    <tr class="order-total">
                        <td>{{ 'sylius.ui.base_currency_order_total'|trans }}</td>
                        <td><strong>{{ money.format(order.total, order.currencyCode) }}</strong></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
