{% extends '@FMDDSyliusEmailOrderAdminPlugin/Email/layout_email.html.twig' %}
{% trans_default_domain "emails" %}

{% block subject %}
    Nouvelle commande de {{ order.customer.firstname }} {{ order.customer.lastname }}
{% endblock %}

{% block body_email %}
    {% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

    <h2>Détails de la commande : #{{ order.number }}</h2>

    <ul>
        <li>Prénom/Nom : {{ order.customer.firstname }} {{ order.customer.lastname }}</li>
        <li>Email : {{ order.customer.email }}</li>
        <li>Téléphone : {{ order.customer.phoneNumber }}</li>
    </ul>

    <table border="1">
        <thead>
            <tr>
                <td style="padding: 5px; font-weight: bold; width:250px">Adresse de livraison</td>
                <td style="padding: 5px; font-weight: bold; width:250px">Adresse de facturation</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 5px;">
                    <div>{{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastname }} ({{ order.shippingAddress.company }})</div>
                    <div>{{ order.shippingAddress.phoneNumber }}</div>
                    <div>{{ order.shippingAddress.street }}, {{ order.shippingAddress.city }} {{ order.shippingAddress.postcode }}, {{ order.shippingAddress.countryCode|sylius_country_name|upper }} </div>
                </td>
                <td style="padding: 5px;">
                    <div>{{ order.billingAddress.firstName }} {{ order.billingAddress.lastname }} ({{ order.billingAddress.company }})</div>
                    <div>{{ order.billingAddress.phoneNumber }}</div>
                    <div>{{ order.billingAddress.street }}, {{ order.billingAddress.city }} {{ order.billingAddress.postcode }}, {{ order.billingAddress.countryCode|sylius_country_name|upper }}</div>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Articles</h2>

    <table border="1">
        <thead>
            <tr>
                <td style="padding: 5px; font-weight: bold; width:250px">Référence</td>
                <td style="padding: 5px; font-weight: bold; width:50px">Quantité</td>
                <td style="padding: 5px; font-weight: bold; width:50px">Price</td>
            </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            <tr>
                {% if item.variant.product.simple %}
                    <td style="padding: 5px;">{{ item.variant.product.code }}- {{ item.variant.product.name }} </td>
                {% else %}
                    <td style="padding: 5px;">{{ item.variant.code }} - {{ item.variant.name }} </td>
                {% endif %}
                <td style="padding: 5px;">{{ item.quantity }}</td>
                <td style="padding: 5px;">{{ item.total|sylius_format_money(order.currencyCode, order.localeCode) }}</td>
            </tr>
        {% endfor %}

        {% include '@SyliusShop/Common/Order/Table/_totals.html.twig' %}
        </tbody>
    </table>

{% endblock %}
