{% extends '@FMDDSyliusEmailOrderAdminPlugin/Email/layout_email.html.twig' %}

{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}


{% block subject %}
    {% set firstName = order.customer.firstName is not empty ? order.customer.firstName : order.shippingAddress.firstName %}
    {% set lastName = order.customer.lastName is not empty ? order.customer.lastName : order.shippingAddress.lastName %}
    {% set phoneNumber = order.customer.phoneNumber is not empty ? order.customer.phoneNumber : order.shippingAddress.phoneNumber %}

    {{ 'fmdd_email_order_admin.email.subject'|trans({'%order_number%': order.number, '%customer_firstname%': firstName, '%customer_lastname%': lastName }) }}
{% endblock %}

{% block body_email %}
    {% set firstName = order.customer.firstName is not empty ? order.customer.firstName : order.shippingAddress.firstName %}
    {% set lastName = order.customer.lastName is not empty ? order.customer.lastName : order.shippingAddress.lastName %}
    {% set phoneNumber = order.customer.phoneNumber is not empty ? order.customer.phoneNumber : order.shippingAddress.phoneNumber %}

    <h2>{{ 'fmdd_email_order_admin.email.header'|trans({'%order_number%': order.number }) }}</h2>
    <ul>
        <li>{{ 'fmdd_email_order_admin.email.name'|trans({'%customer_firstname%': firstName, '%customer_lastname%': lastName }) }}</li>
        <li>{{ 'fmdd_email_order_admin.email.email'|trans({'%customer_email%': order.customer.email }) }}</li>
        <li>{{ 'fmdd_email_order_admin.email.phone'|trans({'%customer_phone_number%': phoneNumber }) }}</li>
    </ul>

    <table border="1">
        <thead>
        <tr>
            <td style="padding: 5px; font-weight: bold; width:250px">{{ 'fmdd_email_order_admin.email.delivery_address'|trans }}</td>
            <td style="padding: 5px; font-weight: bold; width:250px">{{ 'fmdd_email_order_admin.email.invoice_address'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="padding: 5px;">
                <div>{{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}
                    ({{ order.shippingAddress.company }})
                </div>
                <div>{{ order.shippingAddress.phoneNumber }}</div>
                <div>{{ order.shippingAddress.street }}
                    , {{ order.shippingAddress.city }} {{ order.shippingAddress.postcode }}
                    , {{ order.shippingAddress.countryCode|sylius_country_name|upper }} </div>
            </td>
            <td style="padding: 5px;">
                <div>{{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}
                    ({{ order.billingAddress.company }})
                </div>
                <div>{{ order.billingAddress.phoneNumber }}</div>
                <div>{{ order.billingAddress.street }}
                    , {{ order.billingAddress.city }} {{ order.billingAddress.postcode }}
                    , {{ order.billingAddress.countryCode|sylius_country_name|upper }}</div>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>{{ 'fmdd_email_order_admin.email.articles.header'|trans }}</h2>

    <table border="1">
        <thead>
        <tr>
            <td style="padding: 5px; font-weight: bold; width:250px">{{ 'fmdd_email_order_admin.email.articles.reference'|trans }}</td>
            <td style="padding: 5px; font-weight: bold; width:50px">{{ 'fmdd_email_order_admin.email.articles.quantity'|trans }}</td>
            <td style="padding: 5px; font-weight: bold; width:50px">{{ 'fmdd_email_order_admin.email.articles.price'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            <tr>
                {% if item.variant.product.simple %}
                    <td style="padding: 5px;">{{ item.variant.product.code }}- {{ item.variant.product.name }} </td>
                {% else %}
                    <td style="padding: 5px;">{{ item.variant.code }} - {{ item.variant.name }} </td>
                {% endif %}
                <td style="padding: 5px;">{{ item.quantity }}</td>
                <td style="padding: 5px;">{{ item.total|sylius_format_money(order.currencyCode, order.localeCode) }}</td>
            </tr>
        {% endfor %}

        {% include '@SyliusShop/Common/Order/Table/_totals.html.twig' %}
        </tbody>
    </table>

{% endblock %}
